# EtuUTT #
##########

/src/Etu/Module/UVBundle/Resources/objects/current-guide.pdf
/src/Etu/Module/UVBundle/Resources/objects/current-guide.xml
/src/Etu/Module/UVBundle/Resources/objects/registry.json
/src/Etu/Module/LoggerBundle/Resources/objects/errors
/src/Etu/Module/ArgentiqueBundle/Resources/photos/*
/web/argentique/cache/
/tmp

# Used to store schedules
/src/Etu/Core/UserBundle/Resources/temp

# Upload directory
!/web/uploads/apps
/web/uploads/apps/*
!/web/uploads/apps/.gitkeep
!/web/uploads/apps/default.png

!/web/uploads/events
/web/uploads/events/*
!/web/uploads/events/.gitkeep

!/web/uploads/logos
/web/uploads/logos/*
!/web/uploads/logos/.gitkeep
!/web/uploads/logos/default-logo.png

!/web/uploads/photos
/web/uploads/photos/*
!/web/uploads/photos/.gitkeep
!/web/uploads/photos/default-avatar.png

!/web/uploads/users_files
/web/uploads/users_files/*
!/web/uploads/users_files/.gitkeep

!/web/uploads/uvs
/web/uploads/uvs/*
!/web/uploads/uvs/.gitkeep


# Vagrant #
############
/.vagrant

# Composer #
############
/composer.phar

# Symfony #
###########
/app/config/parameters.yml
/app/config/modules.yml
/build/
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/vendor/
/web/min/
/web/bundles/
*.php~

# IDE #
#######

.idea/

# Compiled source #
###################

*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages #
############

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases #
######################

*.log
*.sqlite
*.sql

# OS generated files #
######################

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
