{% extends '::page-2cols.html.twig' %}

{% block title %}{{ 'covoit.public_view.title'|trans }}{% endblock %}

{% block titleIcon %}
    <img src="{{ asset('img/titles/covoiturage.png') }}" alt="{{ 'base.logo.alt'|trans }}" title="{{ 'base.logo.title'|trans }}" class="page-title-icon" />
{% endblock %}

{% block content %}
    {% include 'EtuModuleCovoitBundle::menu.html.twig' with {'active': 'none'} %}

    <div class="padding20-sides">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut beatae corporis cupiditate debitis delectus
        dignissimos dolor eaque earum explicabo inventore iure labore libero molestias necessitatibus nulla perspiciatis
        quam, quas vitae!
    </div>
{% endblock %}
