{% extends '::page-2cols.html.twig' %}

{% block title %}Système Informatique Associatifs{% endblock %}

{% block titleIcon %}
    <img src="{{ asset('assets/img/titles/gear.png') }}" alt="{{ 'base.logo.alt'|trans }}" title="{{ 'base.logo.title'|trans }}" class="page-title-icon" />
{% endblock %}

{% block content %}
    <div class="padding20-all">
        <h4>Les services du SIA</h4>

        <br />

        <p>
            Le Système d'Information des Associations fourni aux associations et aux usagers de l'UTT un ensemble de services. Ces infrastructures fonctionnent grâce à un ensemble de matériels physique important (switch, routeurs, serveurs ...) issues en grande partie de de dons d'entreprises et à la collaboration avec le Centre de Ressources Informatiques (CRI) qui permettent la connection au réseau internet.
        </p>
        <p>Ainsi, vous trouverez ci-dessous une liste non exaustive des services proposés :</p>
        <p>
        <ul>
            <li>Le site Etu</li>
            <li>Le cloud, un système stockage de fichiers partagé accessible sur internet</li>
            <li>BuckUTT et etupay, les services de paiment du BDE</li>
            <li>L'hébergement de sites internet ou applications métier</li>
            <li>Mise à disposition de VM dans un de nos cluster virtuel</li>
            <li>Hébergement de serveur</li>
            <li>Exploitation du réseau du Batiment N</li>
            <li>Mise en réseau des évenements: Gala, R2D, NetGames ...</li>
        </ul>
        </p>

        <h5>Pourquoi créer un compte sur le SIA ?</h5>
        <p>L'UNG posséde sont propre système d'authentification centralisé, ainsi afin de pouvoir utiliser la plupart de nos services, la création d'un compte sur nos serveurs est nécessaire. Il permettront par la suite d'accéder aux service conformément à vos droits d'accés (vpn, système, vpn, cloud ...) </p>

        <h5>Un soucis ?</h5>
        <p>Il suffit d'envoyer un mail à <a href="mailto:ung@utt.fr">ung@utt.fr</a>.</p>

        <br />
        {% if not user %}
            {% include '@EtuModuleSIA/Main/create.html.twig' %}
        {% else %}
            {% include '@EtuModuleSIA/Main/edit.html.twig' %}
        {% endif %}


    </div>
{% endblock %}
