parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     etuutt
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       smtp.utt.fr
    mailer_port:       25
    mailer_user:       ~
    mailer_password:   ~

    secret:            YourSecretHere

    domain:            etu.utt.fr

    dolibarr_key:      ~

    version_id: local

    argentique_jwt_key: ~

    sia_ipa_host: ipa.uttnetgroup.net
    sia_ipa_user: ~
    sia_ipa_password: ~
    slack_webhook_moderation: ~
    slack_token_moderation: ~
