.float-right {
    float:right;
    text-align:right;
}

.float-left {
    float:left;
    text-align:left;
}

pre.decoda-code {
    padding: 0;
}

/* Force quote to have a bootstrap style order */
.decoda-quote{
    display:flex;
    flex-flow: column;
}
.decoda-quote-head {
    order: 2;
}
.decoda-quote-body {
    order: 1;
}

/* Make usable empty block */
pre.decoda-code {
    min-height: 20px;
}
div.decoda-note {
    min-height: 20px;
}
div.decoda-alert {
    min-height: 20px;
}

/* Style on PHP generated bbcode only */
.bbcode {
    text-align: justify;
}

/* For any video iframes */
.bbcode iframe, .video-js {
    width: 100%;
    height: 45vw;
}

/* Make block field not transparent under editor */
body[contenteditable="true"] {
    text-align: justify;
    h2,h3,h4,h5,h6, .float-right, .float-left, blockquote > p, blockquote > small, .mathjax {
        display: block;
        border: dashed gray 1px;
        min-height: 20px;
        min-width: 10px;
    }
    table {
        width: 100%;
    }
    td {
        border: dashed gray 1px;
        min-height: 20px;
    }
}
