
/*
 * Commentaires
 */
.etu-comment {
    clear: both;
    margin-bottom: 20px;
}
.etu-comment-infos {
    display: block;
    margin-left: 70px;
    border: 3px solid #eee;
    border-radius: 1px;
}
.etu-comment-avatar {
    float: left;
    width: 60px;
    height: 60px;
}
.etu-comment-date {
    background-image: linear-gradient(#F8F8F8, #E1E1E1);
    border: 1px solid #cacaca;
}
.etu-comment-date small {
    display: inline-block;
    padding: 5px 10px;
}
.etu-comment-date small a.btn {
    margin-top: -3px;
    margin-right: 10px;
}
.etu-comment-body {
    padding: 10px;
    border: 1px solid #cacaca;
    border-top: 0;
}

.etu-comment-state-update {
    margin-left: 70px;
    border: 3px solid #eee;
    padding: 10px;
    margin-bottom: 20px;
}

/*
 * Home intro
 */
.home-intro {
    h3 {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    h5 {
        font-size: 16px;
        font-weight: lighter;
        margin-bottom: 15px;
    }
    h6 {
        font-size: 14px;
        font-weight: lighter;
        font-style: italic;
        text-align: right;
    }
}

/* Editor stuff */
// Remove white border from <pre><code>
pre[class^="language-"] {
    padding: 0;
}
pre[class="language-nohighlight"] {
    padding: 9.5px;
    display: block;
}

/* Wiki */
.etu-wiki-content {
    h1, h2, h3, h4, h5, h6 {
        margin-top: 15px;
        margin-bottom: 5px;
    }
}
figure {
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #f5f5f5;
    margin: 0 0 10px;
    padding: 9.5px;
    border-radius: 4px;
    display: inline-block;

    figcaption {
        display: block;
        margin: 6px 8px 0 8px;
    }
}

figure.align-center {
    display: table;
    margin-left: auto;
    margin-right: auto;
}
