/* Sidebar */
.sidebar {
  background: black;
  color: white;
  border: 1px solid #ddd;
  border-left: 0;
  margin-top: 30px;
  width: 247px;
  float: left;
  padding-bottom: 25px;
}

/* Sidebar menu title */
.sidebar-title {
  margin-top: 25px;
  margin-bottom: 5px;
  float: left;
  width: 242px;
  height: 25px;
  padding: 5px;
  padding-left: 10px;
  font-size: 12px;
  color: white;
  font-weight: lighter;
  // background: url('/assets/img/back-title.png') no-repeat;
  z-index: 50;
}

/* Sidebar menu */
.sidebar-menu {
  clear: both;
}
.sidebar-menu a {
  color: white;
  font-size: 13px;
  padding: 6px 10px;
}
.sidebar-menu a:hover {
  background: rgb(255, 163, 26) none repeat scroll 0% 0%;
  color: black;
  text-decoration: none;
}
