/* Overall container */
.container {
  width: 1210px;
}

/* Real page */
.page {
  padding-top: 56px;
}
.page-container {
  // background: url('/assets/img/back-body.jpg') 100% 0% no-repeat;
}

/* popup page */
.popup-page {
}
/* Alert */
.page-alert {
  position: absolute;
  width: 500px;
  margin-top: 65px;
  margin-left: 660px;
  font-size: 12px;
  z-index: 50;
}

/* Page title */
.page-title {
  margin-left: 25px;
  padding-top: 20px;
}
.page-title-icon {
  margin-right: 10px;
}

/* Tabs */
.page-tabs {
  background: #f6f6f6;
}
.page-tabs .active a {
  border-top: 0;
  border-left: 0;
  border-radius: 0;
  padding-top: 9px;
}
.page-tabs .active a:hover {
  border-top: 0;
  border-left: 0;
  border-radius: 0;
  padding-top: 9px;
}
.page-tabs > li > a {
  border-top: 0;
  border-left: 0;
  border-radius: 0;
  padding-top: 9px;
}
.page-tabs-resolved-active {
  border-left: 1px solid #e5e5e5;
}

/* Page content */
.content {
  background: #fff;
  border: 1px solid #ddd;
  border-bottom: 0;
  min-height: 800px;
  margin-top: 5px;
  padding-bottom: 75px;
  width: 950px;
  float: left;
}
.content-full {
  width: 1210px;
}

/* Footer */
.footer {
  float: left;
  font-size: 11px;
  width: 226px;
  padding: 7px;
  color: #9f9f9f;
  font-style: italic;
  background: url("/assets/img/lines.jpg") no-repeat 100% 0;
  min-height: 183px;
}
.footer .footer-link {
  float: left;
  padding: 0 10px;
  width: 129px;
  display: block;
  color: #224880;
  font-style: normal;
  border: 1px solid transparent;
  clear: both;
}
.footer-description {
  padding-top: 10px;
  margin-left: 10px;
}
.footer-description-mobiles {
  color: #888;
  font-style: italic;
  font-size: 12px;
  text-align: center;
}

.footer-bottom {
  border-top: 1px solid #ddd;
  font-size: 11px;
  color: #9f9f9f;
  font-style: italic;
  padding-top: 5px;
  margin-bottom: 25px;
}
.footer-bottom .footer-link {
  float: left;
  padding: 0 10px;
  display: block;
  color: #224880;
  font-style: normal;
}
.footer-bottom .footer-description {
  float: right;
}
