{% extends '::page-2cols.html.twig' %}

{% block title %}L'équipe EtuUTT{% endblock %}

{% block titleIcon %}
    <img src="{{ asset('assets/img/titles/page.png') }}" alt="{{ 'base.logo.alt'|trans }}" title="{{ 'base.logo.title'|trans }}" class="page-title-icon" />
{% endblock %}

{% block content %}
    <div class="padding20-all align-center">
        <p>
            Le site étudiant de l'UTT existe grâce aux quelques personnes qui ont bien voulu s'investir dans un projet<br />
            de grande ampleur et d'y consacrer du temps. La liste complète des contributeurs est accessible <a href="https://github.com/ungdev/EtuUTT/graphs/contributors">ici</a>. Merci à eux !
        </p>
        <p class="text-success">
            Retrouvez et suivez toute l'actualité du site etu sur <a href="https://github.com/ungdev/etuutt">le repo github ungdev/etuutt</a> !
        </p>

        <hr />
        <p>L'équipe actuelle (2020-)</p>
        <div class="row-fluid">
            <div class="span4">
                <img src="https://etu.utt.fr/uploads/photos/laruelli.png" style="width: 100px;" />
                <p>
                    <strong>Ivann LARUELLE</strong><br />
                    Contributeur et maintainer du site etu depuis 2020
                </p>
            </div>
            <div class="span4">
                <img src="https://etu.utt.fr/uploads/photos/dufourar.png" style="width: 100px;" />
                <p>
                    <strong>Arnaud DUFOUR</strong><br />
                    Développeur de l'appli MyUTT accessible sur <a href="/app">iOS et Android</a>
                </p>
            </div>
            <div class="span4">
                <img src="{{ path('user_view_image_profil', {'avatar': app.user.avatar}) }}" style="width: 100px;" />
                <p>
                    <strong>Vous ?</strong><br />
                    Regardez <a href="https://github.com/ungdev/etuutt">le repo github ungdev/etuutt</a> et/ou <a href="mailto:ung@utt.fr">contactez l'UNG</a>
                </p>
            </div>
        </div>
        <hr />
        <p>La suite (2015-2018)</p>
        <div class="row-fluid">
            <div class="span4">
                <img src="https://etu.utt.fr/uploads/photos/labateau.png" style="width: 100px;" />
                <p>
                    <strong>Aurélien LABATE</strong><br />
                    Contributeur et maintainer du site etu entre 2016 et 2018
                </p>
            </div>
            <div class="span4">
                <img src="https://etu.utt.fr/uploads/photos/guerreim.png" style="width: 100px;" />
                <p>
                    <strong>Maxime GUERREIRO</strong><br />
                    Contributeur et maintainer du site etu vers 2016
                </p>
            </div>
            <div class="span4">
                <img src="https://etu.utt.fr/uploads/photos/d_autumc.png" style="width: 100px;" />
                <p>
                    <strong>Christian D'AUTUME</strong><br />
                    Contributeur et maintainer du site etu vers 2018/2019
                </p>
            </div>
        </div>
        <hr />
        <p>
            L'équipe d'origine (2013-2016)
        </p>
        <div class="row-fluid">
            <div class="span4">
                <img src="https://etu.utt.fr/uploads/photos/galopint.png" style="width: 100px;" />
                <p>
                    <strong>Titouan GALOPIN</strong><br />
                    Chef de projet
                </p>
            </div>
            <div class="span4">
                <img src="https://etu.utt.fr/uploads/photos/soulierl.jpg" style="width: 100px;" />
                <p>
                    <strong>Lucas SOULIER</strong><br />
                    Développeur Forum
                </p>
            </div>
            <div class="span4">
                <img src="https://etu.utt.fr/uploads/photos/chabanop.jpg" style="width: 100px;" />
                <p>
                    <strong>Paul CHABANON</strong><br />
                    Développeur Module BuckUTT
                </p>
            </div>
        </div>

        <br />
        <br />

        <div class="row-fluid">
            <div class="span2"></div>
            <div class="span4">
                <img src="https://etu.utt.fr/uploads/photos/prouxale.png" style="width: 100px;" />
                <p>
                    <strong>Alexander PROUX</strong><br />
                    Traducteur Anglais
                </p>
            </div>
            <div class="span4">
                <img src="https://etu.utt.fr/uploads/photos/schultzn.jpg" style="width: 100px;" />
                <p>
                    <strong>Noemie SCHULTZ</strong><br />
                    Traductrice Allemand
                </p>
            </div>
            <div class="span2"></div>
        </div>
    </div>
{% endblock %}
