{% extends '::page-2cols.html.twig' %}

{% block title %}Mon flux{% endblock %}

{% block content %}
	<div class="flux">
		<div class="super-notifs">
			<a href="" class="notif super-notif">
				<i class="notif-icon-event"></i>

				<h4 class="notif-title">
					Nouvel évènement de
					<span class="notif-data">BDE</span> :
					<span class="notif-data">Soirée des finaux</span>
					(super-notification)
				</h4>

				<div class="clear"></div>
			</a>
		</div>

		<a href="" class="notif notif-new">
			<i class="notif-icon-mail"></i>

			<h4 class="notif-title">
				Vous avez <span class="notif-data">3</span> nouveaux e-mails
			</h4>

			<div class="notif-date">
				Il y a 4 minutes
			</div>

			<div class="clear"></div>
		</a>

		<a href="" class="notif notif-new">
			<i class="notif-icon-event"></i>

			<h4 class="notif-title">
				Nouvel évènement de
				<span class="notif-data">BDE</span> :
				<span class="notif-data">Remise des diplômes</span>
			</h4>

			<div class="notif-date">
				Il y a 1 heure
			</div>

			<div class="clear"></div>
		</a>

		<a href="" class="notif">
			<i class="notif-icon-briefcase"></i>

			<h4 class="notif-title">
				Nouveau commentaire de
				<span class="notif-data">Boris Guifot</span> dans l'UV
				<span class="notif-data">LO02</span>
			</h4>

			<div class="notif-date">
				Il y a 3 heures
			</div>

			<div class="clear"></div>
		</a>

		<a href="" class="notif">
			<i class="notif-icon-forum"></i>

			<h4 class="notif-title">
				Nouveaux messages de
				<span class="notif-data">Marie-Laure Vistos</span> et
				<span class="notif-data">Lucas Soulier</span> dans
				<span class="notif-data">Ancien Poly</span>
			</h4>

			<div class="notif-date">
				Le 30 décembre 2012 à 12h14
			</div>

			<div class="clear"></div>
		</a>

		<a href="" class="notif">
			<i class="notif-icon-mail"></i>

			<h4 class="notif-title">
				Vous avez <span class="notif-data">3</span> nouveaux e-mails
			</h4>

			<div class="notif-date">
				Il y a 4 minutes
			</div>

			<div class="clear"></div>
		</a>

		<a href="" class="notif">
			<i class="notif-icon-event"></i>

			<h4 class="notif-title">
				Nouvel évènement de
				<span class="notif-data">BDE</span> :
				<span class="notif-data">Remise des diplômes</span>
			</h4>

			<div class="notif-date">
				Il y a 1 heure
			</div>

			<div class="clear"></div>
		</a>

		<a href="" class="notif">
			<i class="notif-icon-briefcase"></i>

			<h4 class="notif-title">
				Nouveau commentaire de
				<span class="notif-data">Boris Guifot</span> dans l'UV
				<span class="notif-data">LO02</span>
			</h4>

			<div class="notif-date">
				Il y a 3 heures
			</div>

			<div class="clear"></div>
		</a>

		<a href="" class="notif">
			<i class="notif-icon-forum"></i>

			<h4 class="notif-title">
				Nouveaux messages de
				<span class="notif-data">Marie-Laure Vistos</span> et
				<span class="notif-data">Lucas Soulier</span> dans
				<span class="notif-data">Ancien Poly</span>
			</h4>

			<div class="notif-date">
				Le 30 décembre 2012 à 12h14
			</div>

			<div class="clear"></div>
		</a>
	</div>
{% endblock %}