{% extends '::page-2cols.html.twig' %}

{% block title %}{{ 'main.indexOrga.title'|trans }}{% endblock %}

{% block titleIcon %}
	<img src="{{ asset('img/titles/orga.png') }}" alt="{{ 'base.logo.alt'|trans }}" title="{{ 'base.logo.title'|trans }}" class="page-title-icon" />
{% endblock %}

{% block content %}
	<div class="padding20-all">

	</div>
{% endblock %}