{% extends '::page-1col.html.twig' %}

{% block title %}{{ 'core.main.indexAnonymous.title'|trans }}{% endblock %}

{% block main_menu_link_homepage %} active{% endblock %}

{% block content %}
	<div class="padding20-sides">
		<h3>{{ 'core.main.indexAnonymous.welcome'|trans }}</h3>

		<p>
			Le site étudiant est le site qui connecte la communauté des UTTiens.<br />
			Il offre de nombreux services aux étudiants de l'UTT en complément des services officiels pour faciliter
			leur intégration et leur vie étudiante.
		</p>
		<br />
		<div class="row-fluid">
			<div class="span4">
				<h4>Prochainement à l'UTT</h4>

				<div class="well">
					<h5>
						Le Gala UTT !
						<small class="pull-right">Le 18 mai</small>
					</h5>

					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, consequuntur culpa delectus
						eaque esse inventore iure nulla optio quaerat quam, quo, repudiandae ullam. Adipisci dicta
						dolorem expedita quos reiciendis tenetur.
					</p>
				</div>
			</div>
			<div class="span8">
				<h4>Actualités</h4>

				<div class="well">
					<h5>
						Le Gala UTT !
						<small class="pull-right">Le 31 mars à 14h12</small>
					</h5>

					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, consequuntur culpa delectus
						eaque esse inventore iure nulla optio quaerat quam, quo, repudiandae ullam. Adipisci dicta
						dolorem expedita quos reiciendis tenetur.
					</p>
				</div>

				<div class="well">
					<h5>
						Le Gala UTT !
						<small class="pull-right">Le 30 mars à 17h10</small>
					</h5>

					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, consequuntur culpa delectus
						eaque esse inventore iure nulla optio quaerat quam, quo, repudiandae ullam. Adipisci dicta
						dolorem expedita quos reiciendis tenetur.
					</p>
				</div>

				<div class="well">
					<h5>
						Le Gala UTT !
						<small class="pull-right">Le 25 mars à 08h45</small>
					</h5>

					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, consequuntur culpa delectus
						eaque esse inventore iure nulla optio quaerat quam, quo, repudiandae ullam. Adipisci dicta
						dolorem expedita quos reiciendis tenetur.
					</p>
				</div>

				<div class="well">
					<h5>
						Le Gala UTT !
						<small class="pull-right">Le 18 mars à 18h26</small>
					</h5>

					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, consequuntur culpa delectus
						eaque esse inventore iure nulla optio quaerat quam, quo, repudiandae ullam. Adipisci dicta
						dolorem expedita quos reiciendis tenetur.
					</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}