{% extends '::page-2cols.html.twig' %}

{% block title %}{{ 'core.main.index.title'|trans }}{% endblock %}

{% block main_menu_link_homepage %} active{% endblock %}

{% block javascripts %}
    {% if not app.user.getFirstLogin() %}
        <script type="text/javascript" src="{{ asset('assets/vendor/jquery-impromptu/dist/jquery-impromptu.min.js') }}"></script>
        <script type="text/javascript">
        var tourSubmitFunc = function(e,v,m,f){
                    if(v === -1){
                        $.prompt.prevState();
                        return false;
                    }
                    else if(v === 1){
                        $.prompt.nextState();
                        return false;
                    }
        },
        tourStates = [
            {
                title: 'Bienvenue !',
                html: 'Prêt à découvrir le nouveau site étu ? C\'est parti !',
                buttons: { Suivant: 1 },
                focus: 0,
                position: { container: '.page-container', x: 25, y: 15, width: 200, arrow: 'tc' },
                submit: tourSubmitFunc
            },
            {
                title: 'Flux',
                html: 'C\'est ici que tu peux voir quand tu reçois tes notifications ! Cliques-y pour accèder à ton flux !',
                buttons: { Précédent: -1, Suivant: 1 },
                focus: 1,
                position: { container: '.page-container', x: 122, y: -5, width: 300, arrow: 'tc' },
                submit: tourSubmitFunc
            },
            {
                title: 'TON flux !',
                html: 'Là, tu peux voir en un clin d\'oeil toutes les informations qui te concernent ! C\'est là que tu arrives en te connectant :)',
                buttons: { Précédent: -1, Suivant: 1 },
                focus: 1,
                position: { container: '.page-title', x: 210, y: 20, width: 250, arrow: 'lt' },
                submit: tourSubmitFunc
            },
            {
                title: 'Tiens toi informé !',
                html: 'Via le calendrier des associations, sois au courant de quand se déroule la prochaine nocturne, et dis à tout le monde que TOI, tu vas y participer !',
                buttons: { Précédent: -1, Suivant: 1 },
                focus: 1,
                position: { container: '.page-container', x: 230, y: -2, width: 305, arrow: 'tc' },
                submit: tourSubmitFunc
            },
            {
                title: 'Sociabilise-toi !',
                html: 'Parce que le site étu c\'est fait PAR les étus, POUR les étus, il est normal que vous puissiez vous exprimer ! Questions ? Réponses ? Go !',
                buttons: { Précédent: -1, Suivant: 1 },
                focus: 1,
                position: { container: '.page-container', x: 378, y: -3, width: 305, arrow: 'tc' },
                submit: tourSubmitFunc
            },
            {
                title: 'TEH ASSOCIATRON',
                html: 'Découvre les associations qui pourraient te plaire et abonne-toi à leurs actualités !',
                buttons: { Précédent: -1, Suivant: 1 },
                focus: 1,
                position: { container: '.page-container', x: 492, y: -3, width: 305, arrow: 'tc' },
                submit: tourSubmitFunc
            },
            {
                title: 'Et c\'est pas fini !',
                html: 'Quand y en a pu, y en a encore !<br />Clique ici pour accéder à la suite du menu !',
                buttons: { Précédent: -1, Suivant: 1 },
                focus: 1,
                position: { container: '.page-container', x: 930, y: 15, width: 250, arrow: 'tc' },
                submit: tourSubmitFunc
            },
            {
                title: 'Plein d\'autres services à ta disposition !',
                html: 'On n\'change pas une équipe qui gagne ! Comme sur l\'ancien site étu, tu peux retrouver tes potes sur le trombi, trouver vos intercours communs pour des parties enflammées de babyfoot au foyer, etc ...',
                buttons: { Précédent: -1, Suivant: 1 },
                focus: 1,
                position: { container: '.sidebar-title', x: -280, y: 0, width: 250, arrow: 'rt' },
                submit: tourSubmitFunc
            },
            {
                title: 'A toi d\'jouer !',
                html: 'Toute l\'équipe est très heureuse de te présenter le nouveau site étu, et espère qu\'il t\'accompagnera efficacement durant tes (pas si) nombreuses années à l\'UTT !',
                buttons: { Précédent: -1, Compris: 2 },
                focus: 1,
                position: { container: '.page-container', x: 25, y: 15, width: 500, arrow: 'tl' },
                submit: tourSubmitFunc
            }
        ];

        $.prompt(tourStates);
    {% endif %}
    </script>
{% endblock %}

{% block content %}
    {% if is_granted('ROLE_STUDENT') %}
        <audio style="display: none" autoplay="true" src="{{ asset('april-fools.mp3') }}"></audio>

        <div id="momo" class="fadeInMTubes containerMTubes ageDisclaimer isVisibleMTubes elOpenMTubes" style="height: 100%;width: 100%;position: fixed;z-index: 100;overflow: auto;background: black;left: 0;top: 0px;display:flex;justify-content:center;align-items:center;">
            
            <script>
                function clicked() {
                    momo = document.getElementById("momo")
                    momo.parentElement.removeChild(momo)
                }
            </script>
            <div id="azer" class="modalMTubes ageDisclaimer elOpenMTubes" style="max-width: 80%;">
                <div class="contentMTubes">
                    <img src="{{ asset('assets/img/pornhutt.png') }}" width="150" height="26" style="">
                    <h1>Avez-vous rempli vos évaluations d'enseignements ?</h1>
                    <p style="font-size: 1.25rem;margin: 0;color: #ccc;padding: 0;">
                        PornhUTT est une communauté qui offre du contenu animalier (crapaux et grenouilles) réservé à ceux qui ont voté PM'UTT. <br>Vous devez avoir 18 F ou plus pour entrer.
                    </p>
                    <button onclick="clicked()" id="but" class="btnPrimary greyButton js-closeAgeModal" style="margin-top: 3rem;font-size: 1.25rem;width: 20rem;max-width: 100%;padding: 1rem;color: #fff;font-weight: 400;background: #202020;border: none;border-radius: 4px;display: inline-block;font-family: inherit;cursor: pointer;position: relative;outline: 0 none;text-align: center;">
                        J'ai 18 F ou plus - Entrer
                    </button>
                </div>
            </div>
        </div>

        <style>
            #but:hover {
                background: black;
            }
            #momo {
                background: #000;
                overflow: auto;
                opacity: 1;
                display: inline-block;
                z-index: 100;
                position: fixed;
            }
            #azer {
                padding: 4rem 2rem;
                box-shadow: 0 0 40px 5px rgba(255,255,255,.15);
                display: inline-block;
                order: 1px solid #313131;
                position: relative;
                text-align: center;

            }

        </style>
    {% endif %}

    <div class="padding20-all">
        <div class="row-fluid home-blocks">
            <div class="row-fluid home-blocks">
                {% for blocks in columns %}
                    <div class="span6">
                        {% for block in blocks %}
                            {% if block.role is not defined or is_granted(block.role) %}
                                {% include block.template with block.context %}
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <p>Nous utilisons Matomo, un outil open source d'analytics, pour analyser (de manière anonyme) le comportement de nos utilisateurs sur le site, afin d'orienter le développement du site sur vos services préférés ! Matomo est auto hébergé sur les mêmes serveurs que le site etu, en France à l'UTT.</p>
        <p><iframe
                    style="border: 0; height: 200px; width: 500px;"
                    src="https://matomo.uttnetgroup.fr/index.php?module=CoreAdminHome&action=optOut&language=fr&backgroundColor=&fontColor=&fontSize=14px&fontFamily=Helvetica"
            ></iframe>
        </p>
    </div>
{% endblock %}
