{% extends '::page-1col.html.twig' %}

{% block title %}{{ 'core.main.redirect.title'|trans }}{% endblock %}


{% block content %}
    <div class="padding20-all">

        <div class="row-fluid">
            <div class="span8 home-intro">
                <h3>{{ 'core.main.redirect.content'|trans }}</h3>
                <p>{{ 'core.main.redirect.stucked'|trans }}</p>
            </div>
        </div>

    </div>
{% endblock %}
