
parameters:

services:

    # User autocomplete
    etu.user.user_type:
        class: Etu\Core\UserBundle\Form\UserAutocompleteType
        tags:
            - { name: form.type, alias: user }

    # LDAP
    etu.user.ldap:
        class: Etu\Core\UserBundle\Ldap\LdapManager
        arguments: ["%etu.ldap.host%", "%etu.ldap.port%"]

    etu.user.sync:
        class: Etu\Core\UserBundle\Sync\Synchronizer
        arguments: ["@etu.user.ldap", "@doctrine"]

    # Authentication
    etu.user.cas.authentication.provider:
        class: Etu\Core\UserBundle\Security\Authentication\Provider\CasProvider
        arguments:
            - '' # User Provider
        public: false

    etu.user.cas.authentication.listener:
        class: Etu\Core\UserBundle\Security\Firewall\CasListener
        public: false

    etu.user.every_user.provider:
        class: Etu\Core\UserBundle\Security\UserProvider\EveryUserProvider
        arguments: ["@doctrine" , "@etu.user.ldap"]

    # Privacy
    etu.user.twig.privacy_extension:
        class: Etu\Core\UserBundle\Twig\Extension\PrivacyExtension
        tags:
            - { name: twig.extension }

    # Badges management
    etu.user.badges_listener:
        class: Etu\Core\UserBundle\Model\BadgesManager
        arguments: ["@doctrine"]
        tags:
            - { name: kernel.event_listener, event: kernel.request, method: onKernelRequest }

    # Notifications helper
    etu.notifs.new_badge:
        class: Etu\Core\UserBundle\Notification\Helper\NewBadgeHelper
        arguments: ["@twig"]
        tags:
            - { name: etu.notifs_helper }

    # API
    etu.api.badge.transformer:
        class: Etu\Core\UserBundle\Api\Transformer\BadgeTransformer

    etu.api.course.transformer:
        class: Etu\Core\UserBundle\Api\Transformer\CourseTransformer

    etu.api.user.transformer:
        class: Etu\Core\UserBundle\Api\Transformer\UserTransformer
        arguments: [ "@etu.api.badge.transformer", %kernel.root_dir% ]

    etu.api.user.private_transformer:
        class: Etu\Core\UserBundle\Api\Transformer\UserPrivateTransformer
        arguments: [ "@etu.api.badge.transformer" ]

    etu.api.orga_member.transformer:
        class: Etu\Core\UserBundle\Api\Transformer\OrgaMemberTransformer
        arguments: [ "@etu.api.user.transformer" ]

    etu.api.orga.transformer:
        class: Etu\Core\UserBundle\Api\Transformer\OrgaTransformer
        arguments: [ "@etu.api.user.transformer", "@etu.api.orga_member.transformer" ]

    etu.api.user.mapper:
        class: Etu\Core\UserBundle\Api\QueryMapper\UserListMapper

    etu.api.orga.mapper:
        class: Etu\Core\UserBundle\Api\QueryMapper\OrgaListMapper

    etu.api.user_orgas_private.transformer:
        class: Etu\Core\UserBundle\Api\Transformer\UserOrgasPrivateTransformer
        arguments: [ "@etu.api.orga.transformer" ]
