{% extends '::developpers.html.twig' %}

{% block content %}
    <div class="dev-heading">
        <h3>Bienvenue sur la documentation<br />développeurs d'EtuUTT</h3>
    </div>

    <div class="padding20-all">
        {% if app.request.locale != 'fr' %}
            <div class="alert alert-warning">
                The EtuUTT developpers documentation is not available in your language.
                For the moment, it exists only in French.
            </div>
        {% endif %}

        <p>
            Cette documentation a pour vocation de décrire l'API et les librairies mis à disposition par EtuUTT. Ces outils
            vous permettront aussi bien de créer des applications mobiles que des sites web ou des logiciels à destination
            des étudiants ou des associations.
        </p>

        <p>
            Cette documentation va beaucoup évoluer au fur et à mesure de la mise en place de l'API et des librairies.
        </p>

        <hr />

        <h4>Documentation</h4>

        <div class="row-fluid">
            <div class="span6">
                <ul class="nav nav-list">
                    <li class="nav-header">REST API</li>
                    <li><a href="{{ path('doc_rest_installation') }}">Installation et configuration</a></li>
                    <li><a href="{{ path('doc_rest_usage') }}">Utilisation</a></li>
                    <li><a href="{{ path('nelmio_api_doc_index') }}" target="_blank">Référence des points d'entrée</a></li>
                </ul>
            </div>
            <div class="span6">
                <ul class="nav nav-list">
                    <li class="nav-header">Librairies</li>
                    <li><a href="{{ path('doc_lib_phputt') }}">PHP-UTT <small class="muted">(Gestion utilisateur)</small></a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}