<div class="home-block home-block-birthdays">
    <h4>Les anniversaires aujourd'hui</h4>

    <ul>
        {% for user in birthdays if user.age != 0 %}
            <li>
                <a href="{{ path('user_view', {'login': user.login}) }}">
                    {{ user.fullName }}
                    <span class="muted pull-right">{{ user.age }} ans</span>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>