<div class="home-block home-block-photos">
    <h4>Dernières photos Argentique</h4>

    <div class="home-block-photos-gallery">
        <div class="cycle-slideshow"
             data-cycle-center-horz="true"
             data-cycle-center-vert="true">
            {% for photo in photos %}
                <img src="{{ argentique_photo(photo.pathname, { 'h': 200 }) }}" class="home-block-photo" />
            {% endfor %}
        </div>
    </div>

    <p class="more-link">
        <a href="{{ path('argentique_index') }}">
            Voir la galerie complète
        </a>
    </p>
</div>
