<div class="home-block home-block-uvs">
    <h4>Toutes vos UV</h4>
    <div class="uv-list">
        {% for UV in UVs %}
            <a  href="{{ path('uvs_goto', {'code': UV}) }}">{{ UV }}</a>
        {% endfor %}
    </div>
    <p class="more-link">
        <a href="{{ path('uvs_index') }}">
            Rechercher une UV
        </a>
    </p>
</div>
