{% extends '::page-2cols.html.twig' %}

{% block title %}{{ 'argentique.admin.title'|trans }}{% endblock %}

{% block titleIcon %}
    <img src="{{ asset('src/img/titles/argentique.png') }}" alt="{{ 'base.logo.alt'|trans }}" title="{{ 'base.logo.title'|trans }}" class="page-title-icon" />
{% endblock %}

{% block content %}
    <div class="padding20-all argentique-admin">
        <h4>Administrer la gallerie Argentique - Mode d'emploi</h4>

        <br />

        <h5>Pré-requis</h5>

        <p>
            L'administration de la gallerie Argentique passe par un outil appelé Filezilla.
        </p>
        <p>
            Si vous ne l'avez pas, téléchargez-le ici :
        </p>
        <p>
            <a href="https://filezilla-project.org/download.php?type=client">Télécharger Filezilla</a>
        </p>
        <p>
            Installez-le, et lancez-le.
        </p>

        <br />

        <h5>Utilisation de Filezilla</h5>

        <p>
            En haut de la fenêtre existent quatre champs, appelés dans l'ordre
            <em>Hôte, Identifiant, Mot de passe, Port</em>. Remplissez-les comme suit :
        </p>

        <ul>
            <li><strong>Hôte</strong> : sftp://etu.utt.fr</li>
            <li><strong>Identifiant</strong> : argentiq</li>
            <li><strong>Mot de passe</strong> : argentiq</li>
            <li><strong>Port</strong> : 22</li>
        </ul>

        <p>
            Puis cliquez sur "Connexion rapide".
        </p>
        <p>
            Si tout se passe bien, vous devriez obtenir une liste de dossiers / fichiers dans la partie droite de
            Filezilla. Si ce n'est pas le cas, contactez l'UNG.
        </p>

        <br />

        <h5>Fonctionnement de la gallerie</h5>

        <p>
            Les dossiers que vous créés dans cet espace où vous venez de vous connecter seront transformés en
            "Collections" sur le site étudiant, et les images en JPG ou JPEG seront considérés comme des photos.
        </p>
        <p>
            De cette manière, vous pouvez créer / modifier / supprimer les dossiers / les images de cet espace pour
            créer / modifier / supprimer les collections / les photos de la gallerie du site étudiant.
        </p>
        <p>
            Pour envoyer des images, naviguez sur votre système dans la partie de gauche de Filezilla, choisissez les
            fichiers à envoyer, puis cliquez-droit sur eux et cliquez sur "Envoyer". Vous ne pouvez évidemment envoyer
            des fichiers que si vous êtes connectés à l'espace de photos.
        </p>

        <br />

        <h5>Recommandations</h5>

        <p>
            Il est essentiel de garder un usage agréable du site aux étudiants, il faut donc suivre
            ces quelques recommandations :
        </p>

        <ul>
            <li>Créez une collection à la racine pour chaque semestre (A2012, P2014, ...)</li>
            <li>Créez une sous-collection pour chaque événement, sans le bon semestre évidemment</li>
            <li>N'envoyez pas de photos de plus de 2500 pixels de hauteur ou de largeur, cela ralentirait la gallerie</li>
        </ul>
    </div>
{% endblock %}
