<div class="argentique-gallery">
    {% if photos|length == 0 %}
        <p class="align-center">
            <small class="muted">Aucune photo dans cette collection</small>
        </p>
    {% else %}
        {% for photo in photos %}
            <a href="{{ argentique_photo(photo.pathname) }}" class="swipebox">
                <img src="{{ argentique_photo(photo.pathname, { 'h': 240 }) }}"
                     height="150px" width="{{ (photo.size.width / photo.size.ratio)|round }}px" />
            </a>
        {% endfor %}
    {% endif %}
</div>
