<!DOCTYPE html>
<html lang="fr" style="padding: 0; margin: 0;">
<head>
    <meta charset="utf-8" />

    <title>
        Identifiants de connexion à EtuUTT
    </title>
</head>
<body style="padding: 0; margin: 0;">
    <table style="width: 100%; background: #f5f5f5; border-collapse: collapse;">
        <tr>
            <td style="vertical-align: top; background: #363e4a; border-collapse: collapse;">
                <table style="max-width: 600px; width:100%; margin: 0 auto; border-collapse: collapse;">
                    <tr>
                        <td>
                            <img alt="EtuUTT" title="Logo de EtuUTT" src="http://etu.utt.fr/src/img/logo.png" />
                        </td>
                        <td style="text-align: right; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; color: white;">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

            <!---------------- Message ---------------->
            <tr>
                <td style="vertical-align: top; padding: 20px 10px; color: #333333; text-align: justify; border-bottom: 3px solid #e5e5e5; border-collapse: collapse; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px;">
                    <table style="max-width: 600px; width:100%; margin: 0 auto; border-collapse: collapse;">
                        <tr>
                            <td>
                                <p>Bonjour {{ fullName }},</p>
                                <p>
                                    Aujourd'hui est un grand jour !
                                </p>
                                <p>Nous avons l'honneur de te donner un accès <b>exterieur</b>
                                    au site etudiant. Cet accès te permettra de te connecter à EtuUTT sans avoir besoin d'être étudiant à l'UTT.
                                </p>
                                <ul>
                                    <li><b>Identifiant : </b> : {{ login }}</li>
                                    <li><b>Mot de passe : </b> : {{ password }}</li>
                                </ul>
                                <p>
                                    À très bientôt sur EtuUTT !
                                </p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

        <tr>
            <td style="vertical-align: top; padding: 20px 0 20px 0; text-align: center; background: #ffffff; color: #999999; border-collapse: collapse; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 11px;">
                <table style="max-width: 600px; width:100%; margin: 0 auto; border-collapse: collapse;">
                    <tr>
                        <td>
                            Généré et envoyé par le site étudiant de l'Université de Technologie de Troyes<br />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
