
<hr />
<a href="{{ path('buckutt_history') }}">Historique</a> | <a href="{{ path('buckutt_reload') }}">Recharger</a> | Administrer | <a href="{{ path('buckutt_connect', {'action':'disconnect'}) }}">Deconnexion</a>
<hr />
