
/*
 * Commentaires
 */
.etu-comment {
	clear: both;
	margin-bottom: 20px;
}
.etu-comment-infos {
	display: block;
	margin-left: 70px;
	border: 3px solid #eee;
	border-radius: 1px;
}
.etu-comment-avatar {
	float: left;
	width: 60px;
	height: 60px;
}
.etu-comment-date {
	background-image: linear-gradient(#F8F8F8, #E1E1E1);
	border: 1px solid #cacaca;
}
.etu-comment-date small {
	display: inline-block;
	padding: 5px 10px;
}
.etu-comment-body {
	padding: 10px;
	border: 1px solid #cacaca;
	border-top: 0;
}

/*
 * Page d'accueil
 */
.homepage-events-title {
	font-weight: lighter;
	padding: 10px;
	margin: 0;
	margin-bottom: 17px;;
	font-size: 22px;
}
.homepage-events {
	padding: 0;
	margin: 0 auto;
	width: 95%;
}
.homepage-event {
	display: block;
	padding: 0.5%;
	padding-top: 1.5%;
	margin: 0.5%;
	width: 31%;
	float: left;
	text-align: center;
	border: 1px solid #e5e5e5;
}
.homepage-event:hover {
	background: #f5f5f5;
}
.homepage-event img {
	width: 80%;
}

/*
 * Mon flux
 */
.flux {
	background: #f5f5f5;
}

.flux img {
	display: block;
	width: 24px;
	height: 24px;
	margin-right: 10px;
	margin-top: 2px;
	line-height: 24px;
	vertical-align: text-top;
	float: left;
	opacity: 0.7;
}

.notif {
	display: block;
	padding: 10px 15px;
	border-bottom: 1px solid #e5e5e5;
	background: #f5f5f5;
}
.notif:hover h4 {
	text-decoration: underline;
}
.notif-new {
	background: white;
	font-weight: bold;
}
.notif-new:hover h4 {
	text-decoration: underline;
}
.notif-new .notif-title {
	font-weight: bold;
}
.notif-new img, .super-notif img {
	opacity: 1;
}
.notif-date {
	float: right;
	font-size: 11px;
	font-weight: normal;
	color: #8a8a8a;
	padding-top: 4px;
}
.notif-data {
	color: #1d5da2;
}
.notif-title {
	font-size: 13px;
	float: left;
	margin: 0;
	padding: 4px 10px;
	font-weight: lighter;
	color: #222;
	opacity: 0.8;
	width: 70%;
}
.notif-title ul {
	margin-bottom: 0;
}
.notif-new .notif-title, .super-notif .notif-title {
	opacity: 1;
}

.super-notif, .super-notif:hover {
	background: #fcf8e3;
	border-top: 1px solid #fcf8e3;
	border-bottom: 1px solid #fbeed5;
}
.super-notif, .super-notif .notif-data, .super-notif h4 {
	color: #c09853;
	font-weight: bold;
}
.super-notif:hover h4 {
	text-decoration: underline;
}

@media screen and (max-width: 775px) {
	.notif img  {
		display: none;
	}
	.notif {
		padding: 5px 7px;
	}
    .notif-title {
	    width: 100%;
    }
}

/*
 * Connexion
 */
.connect-choices {
	margin-top: 20px;
}
.connect-choices li {
	text-align: center;
}
.connect-choices li a {
	padding: 10px 0;
}
.connect-choices li a img {
	padding-bottom: 10px;
}

/*
 * Profil et compte utilisateur
 */
.profile-infos-label {
	display: block;
	float: left;
	width: 35%;
	font-weight: bold;
}
.profile-infos-value {
	margin-left: 35%;
}
.profile-block-action {
	text-align: right;
	padding-top: 10px;
	padding-right: 22px;
}

.profileEdit-avatar {
	text-align: center;
}
.profileEdit-avatar img {
	width: 50%;
}
.profileEdit-fixedValue {
	font-weight: bold;
	padding-top: 4px;
}
.profileEdit-privacy-select {
	width: 100px;
}
.avatarUploadBox-form {
	text-align: center;
}

.profile-avatar {
	text-align: center;
}

.trombi-textarea {
	width: 65%;
	height: 120px;
}

/*
 * Bugs et suggestions
 */
.bugs-table-number {
	width: 25px;
}


.bugs-view-title {
	font-size: 18px;
}
.bugs-view-date {
	color: #666;
	font-size: 11px;
	font-style: italic;
}
.bugs-view-comment {
	padding-top: 50px;
}
.bugs-view-comment-textarea {
	width: 97%;
	height: 150px;
}

@media screen and (max-width: 1000px) {
	.profile-infos-value {
		margin-left: 0;
	}
}

@media screen and (max-width: 775px) {

	.profile-infos-value {
		margin-left: 0;
	}

	.etu-comment-avatar {
		display: none;
	}
	.etu-comment-infos {
		margin-left: 0;
	}

	.bugs-tabs > li > a {
		font-size: 12px;
	}
	.bugs-table-number {
		width: 2%;
	}
}
