
/* Footer */
.footer {
	float: left;
	font-size: 11px;
	width: 226px;
	padding: 7px;
	color: #9f9f9f;
	font-style: italic;
	background: url('../img/lines.jpg') no-repeat 100% 0;
	min-height: 183px;
}
.footer .footer-link {
	float: left;
	padding: 0 10px;
	width: 109px;
	display: block;
	color: #224880;
	font-style: normal;
	border: 1px solid transparent;
	clear: both;
}
.footer-description {
	padding-top: 10px;
	margin-left: 10px;
}
.footer-description-mobiles {
	color: #888;
	font-style: italic;
	font-size: 12px;
	text-align: center;
}

/* Change locale link */
.change-locale {
	display: none;
	margin-top: 20px;
	position: absolute;
	background: white;
	border: 1px solid #cecece;
	width: 129px;
	color: #222222;
	font-size: 11px;
	font-style: normal;
	z-index: 50;
}
.change-locale-link {
	position: absolute;
	z-index: 60;
	background: white;
	border: 1px solid #cecece !important;
	border-bottom: 0 !important;
}
.next-change-locale-link {
	padding-top: 2px !important;
}

/* Change locale link clicked: menu displayed */
.change-locale-menu a {
	color: #222222;
	font-size: 11px;
	padding: 0 10px;
	width: 109px;
}
.change-locale-menu a:hover {
	background: #e3e3e3;
	text-decoration: none;
}