
/* Header banner */
.head {
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
	z-index: 100;
}

/* Title to hide using CSS, for accessibility */
.seo-title {
	display: none;
}

/* Real title */
.title {
	margin-right: 25px;
}

/* Menu and Menu items */
.menu a {
	padding: 18px;
	padding-bottom: 15px;
	color: #e5e5e5;
	border-right: 1px solid #313944;
	border-left: 1px solid #414b5c;
}
.menu .first a {
	border-left: 0;
}
.menu .last a {
	border-right: 0;
}
.menu a:hover, .menu .active a {
	background: #414956;
	color: #e5e5e5;
	text-decoration: none;
}

/* Userbox */
.userbox-link {
	display: block;
	padding: 14px 18px;
	margin-left: 56px;
	font-size: 11px;
	width: 170px;
	line-height: 14px;
	color: #e5e5e5;
}
.userbox-link:hover {
	color: #e5e5e5;
	background: #414956;
	text-decoration: none;
}
.userbox-link-icon {
	position: absolute;
	margin-left: 160px;
	margin-top: 7px;
}
.avatar {
	max-height: 56px;
}

/* Userbox after the click */
.userbox-clicked .userbox-link {
	background: white;
	width: 168px;
	border: 1px solid #cecece;
	border-top: 0;
	border-bottom: 0;
	color: #222222;
}
.userbox-clicked .userbox-link:hover {
	background: white;
}
.userbox-menu {
	display: none;
}
.userbox-menu-clicked {
	position: absolute;
	background: white;
	margin-left: 56px;
	width: 204px;
	border: 1px solid #cecece;
	border-top: 0;
	color: #222222;
	font-size: 11px;
	z-index: 100;
}
.userbox-menu-clicked ul {
	margin: 10px 0;
}
.userbox-menu-clicked a {
	color: #222222;
}
.userbox-menu-clicked a:hover {
	background: #ededed;
	text-decoration: none;
}
.userbox .color-soft {
	color: #a6a6a6;
}
.userbox-clicked .color-soft {
	color: #888888;
}

/* Overlay for the menu using small devices */
#overlay {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: black;
	opacity: 0.5;
}
#overlay-content {
	display: none;
	z-index: 90;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	margin-top: 60px;
	padding: 10px 0;
	background: white;
	opacity: 1;
	-moz-box-shadow: 0 0 5px #606060;
	-webkit-box-shadow: 0 0 5px#606060;
	box-shadow: 0 0 5px #606060;
}
.overlay-menu a {
	padding: 10px 15px;
	color: #222222;
}
.overlay-menu a:hover {
	background: #e3e3e3;
	text-decoration: none;
}
.overlay-menu a i {
	margin-top: 0;
}