
.bg-soft-grey {
	background: #febcff !important;
}
.bg-dark-blue {
	background: #4a3646 !important;
}
.page-container {
	background: none;
}
.footer {
	background: none !important;
}
.userbox-link:hover {
	background: #564154 !important;
}
.userbox-clicked .userbox-link:hover {
	background: white !important;
}
.menu a {
	border-right: 1px solid #443142;
	border-left: 1px solid #5c415a;
}
.menu a:hover, .menu .active a {
	background: #564154 !important;
}
.sidebar {
	background: #f6e5f3 !important;
}
.sidebar-menu a:hover {
	background: #d6c2d3 !important;
}


@media screen and (max-width: 775px) {
	.page-container {
		background: none !important;
	}
}