
/* Form with two columns of inputs */
.form-2col {
	button {
		margin-top:15px;
	}

	.form-2col-field {
		display:inline-block;

		padding:5px;
		box-sizing: border-box;
		border-radius: 4px;
		min-width: 47%;
		margin: 0 10px 10px 0;
		vertical-align: top;

		input, select {
			width: 100%;
			box-sizing: border-box;
			height:35px;
			margin:0;
		}
		input[type=checkbox] {
			width:auto;
			float:left;
			margin: -5px 5px 0 0;
		}

		label {
			font-weight: bold;
		}

		label:after {
			color: #fff;
			font-size:1.6em;
			content: '*';
			display: inline;
		}
	}
	.form-2col-help {
		color: #777;
		font-size: 0.9em;
	}
	.form-2col-error-list {
		color: #b94a48;
	}
	.form-2col-error {
		background-color: #f2dede;
		border-color: #eed3d7;
	}
	.form-2col-required {
		label:after {
			color: #e32;
		}
	}

}
