@import "global/global-p";
@import "global/form-p";
@import "global/icons";
@import "global/head-p";
@import "global/menu-p";
@import "global/page-p";
@import "global/content";

@import "bundles/api";
@import "bundles/argentique";
@import "bundles/assos-p";
@import "bundles/bugs";
@import "bundles/core-p";
@import "bundles/covoit";
@import "bundles/cumul";
@import "bundles/daymail";
@import "bundles/events";
@import "bundles/forum";
@import "bundles/logs";
@import "bundles/trombi-p";
@import "bundles/tv";
@import "bundles/upload";
@import "bundles/user";
@import "bundles/uvs-p";
@import "bundles/wiki";

.userbox-display-for-1024 {
  line-height: 13px;
  background: #fef9db;
  padding: 10px;
}
.display-for-1024 {
  display: none;
}
.display-for-phones {
  display: none;
}
