/*
 * Bugs
 */
.bug {
  display: block;
  background: white;
  border-top: 1px solid #e5e5e5;
  padding: 15px 10px 8px 10px;
}
.bug:hover {
  text-decoration: none;
  background: #f5f5f5;
}
.bug-first {
  border-top: 0;
}
.bug-title {
  font-size: 14px;
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
}
.bug-date {
  display: block;
  margin-right: 10px;
  font-size: 12px;
  color: #999;
  font-weight: lighter;
}
.bug-meta {
  display: block;
  margin-right: 10px;
}
.bugs-view-title {
  font-size: 18px;
}
.bugs-view-date {
  color: #666;
  font-size: 11px;
  font-style: italic;
}
.bugs-view-admin {
  margin: -10px 0;
}
.bugs-view-comment {
  padding: 50px 0;
}
.bugs-view-comment-textarea {
  width: 97%;
  height: 150px;
}
