
.ui-body-c {
	background: #f2f2f2 !important;
}
.ui-header .ui-title {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
.ui-li .ui-icon {
	display: none;
}
.ui-btn-hover-c, .ui-btn-down-c {
	background: #e5e5e5 !important;
}
.ui-btn-active {
	border: 0;
	background: #e5e5e5;
	color: #000005;
}
.ui-btn-active:visited,
.ui-btn-active:hover,
.ui-btn-active a.ui-link-inherit {
	color: #000005;
}
li.ui-li {
	border-top: 1px solid #fafafa !important;
	border-bottom: 1px solid #e5e5e5 !important;
}

#menu-panel, #user-panel {
	background: #f2f2f2;
	box-shadow: none !important;
}
#menu-panel li.ui-li a, #user-panel li.ui-li a {
	text-decoration: none !important;
}
#menu-panel .ui-bar-b, #user-panel .ui-bar-b {
	background: #697F9F;
}
#menu-panel {
	border-right: 1px solid #e5e5e5;
}
#user-panel {
	border-left: 1px solid #e5e5e5;
}
.ui-panel-open {
	width: 16.95em;
}
.flux ul a {
	text-decoration: none !important;
}
.flux ul li .ui-li-heading {
	font-weight: lighter !important;
	white-space: normal !important;
	font-size: 14px;
}
.flux ul li.new {
	background: white;
}
.flux ul li.new .ui-btn-active {
	background: #e5e5e5;
	color: #000005;
}
.flux ul li.new .ui-li-heading {
	font-weight: bold !important;
}