
.comparison-generator-actions {
    float: right;
}

.comparison-generator {
    max-height: 200px;
    overflow-y: auto;

    .comparison-generator-user {
        display: inline-block;
        width: 30%;
        margin: 0 1%;
        line-height: 60px;
        vertical-align: middle;

        img {
            width: 50px;
            height: 50px;
            margin-right: 10px;
        }
        a {
            display: inline-block;
            float: right;
            padding: 5px 10px;
            margin-top: 13px;
            color: #333;
            line-height: 22px;

            &:hover {
                background: #e5e5e5;
                color: #333;
                text-decoration: none;
            }
        }
    }
}

.comparison-generator-add {
    margin: 15px 0 25px 0;
    display: inline-block;
    width: 30%;
    vertical-align: middle;
    text-align: center;

    input {
        width: 400px;
    }
}

.comparison-generator-file {
    .subpage {
        margin-top: 3.5%;
    }

    textarea {
        height: 130px;
        font-size: 12px;
    }

    .gen-file-separator {
        display: table;

        .separator-row {
            display: table-row;

            .separator-radio {
                vertical-align: top;
                display: table-cell;
                width: 25px;
                padding: 4px 0 0 20px;
            }

            .separator-label {
                vertical-align: middle;
                display: table-cell;
                width: 90px;
                padding: 8px 2px;
            }

            .separator-char {
                vertical-align: middle;
                display: table-cell;
                width: 200px;

                input {
                    height: 15px;
                    margin-top: -13px;
                    position: absolute;
                    margin-left: -12px;
                }
            }
        }
    }
}
