
.upload-page {
    background: #f5f5f5;
    padding: 10px;
}

.upload-form {
    text-align: center;
}

.upload-image-container {
    display: inline-block;
    vertical-align: top;
    width: 215px;
    text-align: center;

    .upload-image {
        display: inline-block;
        width: 150px;
        height: 150px;
        background-size: cover;
        background-position: center;

        a {
            display: block;
            float: right;
            padding: 5px 7px;
            background: rgba(255, 255, 255, 0.2);

            &:hover {
                text-decoration: none;
                background: rgba(255, 255, 255, 0.5);
            }
        }
    }

    .upload-label input {
        background: transparent;
        border: 0;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        font-size: 11px;
        width: 200px;
    }
}

.upload-remove {
    text-align: center;
}
.upload-remove-image {
    max-height: 300px;
    max-width: 600px;
}
