.argentique-admin-sync .starting,
.argentique-admin-sync .importing,
.argentique-admin-sync .ending,
.argentique-admin-sync .no_photo {
  padding: 25px;
  text-align: center;
}
.argentique-admin-sync .logs {
  text-align: left;
  overflow-y: auto;
  height: 500px;
}
.argentique-admin-sync .logs ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.argentique-admin-sync .logs li {
  list-style-type: none;
  padding: 5px 10px;
  margin: 0;
}
.argentique-admin-sync .log-error {
  background: #f2dede;
}
.argentique-admin-sync .log-success {
  background: #dff0d8;
}
.argentique-galleries ul {
  margin: 0 0 0 10px;
  padding: 0;
  list-style-type: none;
}
.argentique-galleries li {
  margin: 5px 0;
  padding: 0;
  list-style-type: none;
}
.argentique-galleries a {
  display: block;
  padding: 5px 10px;
}
.argentique-galleries a:hover {
  background: #ededed;
  text-decoration: none;
}
.argentique-galleries a:active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.argentique-photo {
  display: inline-block;
  width: 110px;
  height: 110px;
  padding: 5px;
  text-align: center;
  background: #f5f5f5;
  margin: 10px;
  vertical-align: middle;
  line-height: 110px;
}
.argentique-photo:hover {
  background: #e5e5e5;
}
.argentique-photo:active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
