.buckutt-connect-form {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.buckutt-explainations {
  text-align: left;
  font-size: 12px;
}
.connect-pin {
  text-align: center;
  font-size: 22px;
  height: 38px;
}
.buckutt-credit {
  float: right;
  font-weight: bold;
  background: #f5f5f5;
  border-top: 1px solid #e5e5e5;
  padding: 10px 20px;
}
.buckutt-history-item {
  padding: 7px 15px;
  background: #f5f5f5;
  border-top: 1px solid #e5e5e5;
}
.buckutt-history-item-amount,
.buckutt-history-item-date,
.buckutt-history-item-point {
  display: block;
}
.buckutt-history-item-amount {
  width: 30%;
}
.buckutt-history-item-amount .buckutt-history-item-object {
  float: right;
  font-weight: lighter;
}
.buckutt-history-item-date {
  width: 30%;
  font-style: italic;
  color: #999;
  font-size: 12px;
}
.buckutt-history-item-date .buckutt-history-item-point {
  float: right;
}
