
/*
 * Bugs et suggestions
 */
.bugs-table-number {
	width: 25px;
}

.bugs-view-title {
	font-size: 18px;
}
.bugs-view-date {
	color: #666;
	font-size: 11px;
	font-style: italic;
}
.bugs-view-admin {
	margin: -10px 0;
}
.bugs-view-comment {
	padding: 50px 0;
}
.bugs-view-comment-textarea {
	width: 97%;
	height: 150px;
}

@media screen and (max-width: 775px) {
	.bugs-tabs > li > a {
		font-size: 12px;
	}
	.bugs-table-number {
		width: 2%;
	}
}
