
.comparison-generator {
	height: 500px;

	.generator-add {
		height: 500px;
		overflow-y: auto;

		.generator-unique-input {
			width: 93%;
		}
	}

	.generator-list {
		height: 400px;
		overflow-y: auto;
	}
}