/*
 * Events
 */
.chooser-current {
  text-align: center;
}
.chooser-type {
  text-align: right;
}
.events-table th,
.events-table td {
  text-align: center;
  width: 12.5%;
}
.events-table th {
  font-weight: lighter !important;
  color: #999999;
  font-style: italic;
}
.events-table-month td {
  height: 75px;
  overflow: hidden;
}
.event {
  display: block;
  float: left;
  width: 14px;
  height: 14px;
  margin-right: 3px;
}
.event-day {
  padding-bottom: 5px;
}
.event-culturel {
  background: #fcdc0b;
}
.event-sportif {
  background: #f79226;
}
.event-formation {
  background: #6bbd4e;
}
.event-soiree {
  background: #ed0e8f;
}
.event-autre {
  background: #697f9f;
}
.event-week {
  display: block;
  height: 21px;
  margin-bottom: 2px;
  overflow: hidden;
  font-size: 11px;
  color: white;
}
.event-week:hover {
  color: white;
}
.event-view-orga-logo {
  float: left;
  width: 100px;
  margin: 0 10px;
}
.event-view-orga-logo img {
  width: 100px;
}
.event-view-infos {
  padding: 10px;
  margin-left: 130px;
}
.event-view-category {
  font-size: 11px;
  padding: 0;
}
.event-view-count-members {
  text-align: center;
}
.event-view-count-members-number {
  font-size: 18px;
}
.event-members-type {
  text-align: center;
  font-size: 18px;
  font-weight: lighter;
}
.event-select-date select {
  width: 100px;
}
