
.uvs-category {
	display: block;
	float: left;
	width: 90px;
	height: 60px;
	padding: 15px 10px 25px 10px;
	text-align: center;
	background: #f5f5f5;
	margin-left: 15px;
	margin-bottom: 15px;

	&:hover {
		background: #e5e5e5;
		text-decoration: none;
	}
	p {
		font-size: 12px;
		margin: 10px 0 0 0;
		padding: 0;
	}
}

.uvs-list {
	margin: 0;
	padding: 0;
	list-style-type: none;

	li {
		list-style-type: none;
		margin: 0 0 10px 0;
		padding: 0;
	}
	a {
		display: block;
		background: #f5f5f5;
		padding: 10px 5px;
	}
	a:hover {
		background: #e5e5e5;
		text-decoration: none;
	}
}

.uvs-list-half {
	margin: 0;
	padding: 0;
	list-style-type: none;

	li {
		list-style-type: none;
		margin: 0 10px 10px 0;
		padding: 0;
		display: block;
		float: left;
		width: 48%;
	}
	a {
		display: block;
		background: #f5f5f5;
		padding: 5px 10px 10px 10px;
		overflow: hidden;
		height: 18px;
		line-height: 25px;
	}
	a:hover {
		background: #e5e5e5;
		text-decoration: none;
	}
}

.uvs-list-icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin: -1px 10px 0 5px !important;
	line-height: 16px;
	vertical-align: text-top;
}

.uv-view-category {
	float: right;
}
.uv-view {
	margin-top: 30px;

	.uv-view-infos {
		background: #f5f5f5;
		float: left;
		width: 325px;
		font-size: 12px;

		.uv-view-infos-category {
			clear: both;
		}
		.uv-view-infos-label, .uv-view-infos-value {
			float: left;
			padding: 5px;
			border-top: 1px solid #e5e5e5;
		}
		.uv-view-infos-label {
			width: 185px;
			text-align: right;
			font-weight: bold;
		}
		.uv-view-infos-value {
			width: 120px;
		}
	}

	.uv-view-content {
		margin-left: 370px;

		h4 {
			margin-top: 30px;
		}
	}
}


.uv-view-reviews {
	float: left;
	width: 325px;
}

.uv-view-comments {
	margin-left: 370px;

	h4 {
		margin-top: 33px;
	}
}
