
{% set covoit = notif.firstEntity %}

<a href="{{ path('covoiturage_view', {'id': covoit.id, 'slug': covoit.startCity.slug ~ '-' ~ covoit.endCity.slug }) }}"
   class="notif{% if notif.isSuper %} super-notif{% elseif notif.isNew(app.user.lastVisitHome) %} notif-new{% endif %}">
    <img src="{{ asset('src/img/icons-big/covoit.png') }}" />

    <h4 class="notif-title">
        {{ 'covoit.notifs.edited'|trans({
            '%start%': highlight_notif_data(covoit.startCity.name),
            '%end%': highlight_notif_data(covoit.endCity.name),
            '%date%': highlight_notif_data(covoit.date|format_date),
            '%author%': highlight_notif_data(covoit.author.fullName)
        })|raw }}
    </h4>

    <div class="notif-date">
        {{ time_diff(notif.date)|ucfirst }}
    </div>

    <div class="clear"></div>
</a>
