
<a href="#" onclick="window.open('{{ path('upload_index') }}', '', 'width=800, height=500, top=150, left=150, toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, copyhistory=no, resizable=no')">
	{{ 'upload.upload_link'|trans }}
</a>

